@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url("./normalize.css");

html, 
body {
  background: #cad3d3;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #5f727f;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 20px;
}

.plan {
  display: inline-block;
  margin: 70px 20px 0px;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  position: relative;
}

.entry-title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/ocean.png") 15% 60%/190% ;
  width: 360px;
  height: 270px;
  position: relative;
  color: #fff;
  margin-bottom: 20px;
  opacity: 0.9;
}

.entry-title h3 {
  font: lighter 36px 'Montserrat';
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-title .price {
  position: absolute;
  top: -60px;
  background: #ffffff;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 60px;
  color: #2196f7;
  line-height: 100px;
  font-size: 32px;
  font-weight: lighter;
  padding: auto;
}

.price ::after {
  content: "per tour";
  position: absolute;
  font-size: 16px;
  bottom: -5px;
  left: 35px;
  font-weight: 400;
  color: #99a9b5;
}

.entry-content {
  
  font-size: 24px;
  padding: 15px 0;
  font-weight: 300;
}

.entry-content a::after {
  content: "Sub second line goes here lorem ipsum";
  font-size: 14px;
  color: #99a9b5;
}

.entry-content ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.entry-content li {
  font-size: 16px;
  padding: 15px 0;
  font-weight: normal;
}

.entry-content li:nth-of-type(2n+1) {
  background: #f4f6f7;
}

.btn {
  font: 300 19px 'Montserrat';
  padding: 3em 0;
}

.a {
  border: 1px solid #2196f7;
  padding: 10px 30px;
  color: #2196f7;
  text-decoration: none;
}

.a:hover {
  background: #2196f7;
  color: white;
}

.b {
  border: 1px solid #6c136f;
  padding: 10px 30px;
  color: #6c136f;
  text-decoration: none
}

.b:hover {
  background: #6c136f;
  color: white;
}

.c {
  border: 1px solid #3fb22c;
  padding: 10px 30px;
  color: #3fb22c;
  text-decoration: none
}

.c:hover {
  background: #3fb22c;
  color: white;
}

.hot {
  position: absolute;
  top: -15px;
  color: #fff;
  z-index: 2;
  border-radius: 5px;
  left: -15px;
  font-weight: 700;
}

.hot .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.basic .entry-title {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/mountain.png") no-repeat center/cover;
  position: relative;
}

.basic .entry-title>p {
  font-size: 14px;
  color: #99a9b5;
  padding-top: 160px;
}

.basic .price {
  background: #2c2e3d;
  color: #d74498;
}

.standard {
  padding-top: 17px;
}

.standard .entry-title {
  background: url("./img/forest.png") no-repeat center/cover;
  position: relative;
}

.standard .price {
  background: #fff;
  color: #3fb22c;
}